.photo{
	width: 300px;
	height: 700px;
	position: relative;
	left: 5px;
	background-color: #bdb76b;
	padding-top: 78px;
	padding-left: 10px;
	padding-bottom: 98px;
	padding-right: 40px;
	border-bottom: thick solid #774e08;
	font-size: 100px;
	font-family: Calibri;
/*	font-stretch: 400px;*/
	font-weight: bold;
	font-style: italic;
	color: #774e08;
	width: 100%;
	display: inline;
}

img{
	position: relative;
	left: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 5px;
}

.salutation{
	background-color: #bdb76b;
	padding-top: 78px;
	padding-left: 20px;
	padding-bottom: 100px;
	border-left: thick solid #774e08;
	border-bottom: thick solid #774e08;
	font-size: 100px;
	font-family: Calibri;
/*	font-stretch: 400px;*/
	font-weight: bold;
	font-style: italic;
	color: #774e08;
	position: relative;
	left: 5px;
	top: 15px;
	display: inline-block;
	width: 890px;
	height: 300px;
	text-align: center;
}

/*.well {
	text-align: center;
}*/

.bio{
	font-family: Calibri;
	font-size: 22px;
	width: 380px;
	color: #774e08;
	text-align: justify;
	border-right: thick solid #774e08;
	padding: 10px;
	display: inline-block;

}	

p {
	width: 360px;

}

.highlight{
	font-weight: bold;
}

/*
#hide {
	color: #bdb76b;
}*/

footer{ 
	font-family: Calibri;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	width: 100%px;
	color: #774e08;
	text-align: center;
	}


body{
	background-color: #20b2aa;
	
}

.fit {
	width: 800px;
	position: relative;
	left: -75px;
	bottom: -150px;
/*	position: top 2px;*/
	float: right;
	float: top;
	display: inline-block;
	text-align: center;
	font-family: Calibri;
	font-size: 26px;
	font-weight: bold;
	

}

#sun{
    width: 40px;
    height: 40px;
    background-color: #ffD700;
    border-radius: 50%;
    position: absolute;
    }

  #ray{
    width: 20px;
    height: 4px;
    background-color: #ffD700;
    position: absolute;
    transform: rotate(45deg);
    
  }

#ray2{
    width: 4px;
    height: 15px;
    background-color: #ffD700;
    position: absolute;
    top: -35px;
    
  }

#ray3{
    width: 20px;
    height: 4px;
    background-color: #ffD700;
    position: absolute;
    transform: rotate(135deg);
    
  }

	
/*.hey{
	font-family: Calibri;
	font-size: 48px;
	width: 250px;
	color: #774e08;
	text-align: center;
	display: inline-text block;*/



@media screen and (max-width: 760px) {
  body {
    background-color: #ffffff;
  }
  
/*  span{
    width: 700px; 
    padding: none;
    margin: none;
  }

	img {
    width: 70%; 
   	padding: none;
    margin: none;   
  }

p {
  width: 35%;
  }

 div {
  width: 50%;
  }
*/ 
.photo{
	width: 400px;
	height: 300px;
	position: relative;
	left: 2px;
	background-color: #bdb76b;
	padding-top: 48px;
	padding-left: 2px;
	padding-bottom: 8px;
	padding-right: 10px;
	border-bottom: thick solid #774e08;
	font-size: 10px;
	font-family: Calibri;
/*	font-stretch: 400px;*/
	font-weight: bold;
	font-style: italic;
	color: #774e08;
	width: 400px;
	display: inline-block;
}

.bio{
	font-family: Calibri;
	font-size: 18px;
	width: 180px;
	color: #774e08;
	text-align: justify;
	border: none;
	padding: 2px;
	margin-left: 15px;
	margin-right: 10px;
	display: inline-block;
}	

.salutation{
	background-color: #bdb76b;
	padding: 20px;
	border-bottom: thick solid #774e08;
	border-left: none;
	font-size: 38px;
	font-family: Calibri;
/*	font-stretch: 400px;*/
	font-weight: bold;
	font-style: italic;
	color: #774e08;
	position: relative;
	left: 2px;
	top: 0px;
	display: inline-block;
	width: 400px;
	height: 100px;
	text-align: center;
}

img{
	position: relative;
	left: 40px;
	bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 5px;
	width: 300px;
}

.fit {
	width: 400px;
	position: relative;
	left: 5px;
	bottom: 10px;
/*	position: top 2px;*/
	float: right;
	float: top;
	display: inline-block;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	

}


}
